{% extends 'admin/layout/default.html.twig' %}

{% block browser_title %}{{ 'vat_rate.title'|trans }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ 'vat_rate.title'|trans }}</h3>
            <div class="ml-auto d-flex">
                <a href="{{ path('admin_vat_rate_new') }}" class="btn btn-outline-primary">
                    <i class="icon las la-plus"></i> {{ 'btn.new'|trans }}
                </a>
            </div>
        </div>
        <table class="table table-vcenter card-table table-responsive table-striped">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'vat_rate.name'|trans, 'vr.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'vat_rate.percentage'|trans, 'vr.percentage') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'timestampable.created_at'|trans, 'vr.createdAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'timestampable.last_updated_at'|trans, 'vr.lastUpdatedAt') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for vat_rate in pagination %}
                    <tr class="table-row-link" data-href="{{ path('admin_vat_rate_edit', { id: vat_rate.id }) }}">
                        <td class="text-nowrap">{{ vat_rate.name }}</td>
                        <td class="text-nowrap">{{ vat_rate.percentage|number_format(2) }}%</td>
                        <td class="text-nowrap">{{ vat_rate.createdAt|format_datetime('medium', 'short') }}</td>
                        <td class="text-nowrap">{{ vat_rate.lastUpdatedAt|format_datetime('medium', 'short') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-muted text-center">{{ 'pagination.no_results'|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if pagination|length > 0 %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>
{% endblock content %}
