{% extends 'admin/layout/default.html.twig' %}

{% block browser_title %}{{ 'vat_rate.new'|trans }}{% endblock %}

{% block content %}
    <ol class="breadcrumb mb-3" aria-label="breadcrumbs">
        <li class="breadcrumb-item"><a href="{{ path('admin_vat_rate_index') }}">{{ 'vat_rate.title'|trans }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ 'vat_rate.new'|trans }}</li>
    </ol>
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ 'vat_rate.new'|trans }}</h3>
                </div>
                {{ form_start(form) }}
                <div class="card-body">
                    {% include 'admin/vat_rate/_form.html.twig' %}
                </div>
                <div class="card-footer text-right">
                    <a class="btn btn-link" href="{{ path('admin_vat_rate_index') }}">{{ 'btn.back'|trans }}</a>
                    <button class="btn btn-primary">{{ 'btn.create'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock content %}
