{% extends 'admin/layout/default.html.twig' %}

{% block browser_title %}{{ 'admin_user.title'|trans }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ 'admin_user.title'|trans }}</h3>
            <div class="ml-auto d-flex">
                {% if is_granted(constant('App\\Admin\\Security\\Voter\\AdminUserVoter::CREATE')) %}
                    <a href="{{ path('admin_admin_user_new') }}" class="btn btn-outline-primary">
                        <i class="icon las la-plus"></i> {{ 'btn.new'|trans }}
                    </a>
                {% endif %}
                <form method="get" class="ml-3">
                    <div class="input-icon">
                        <span class="input-icon-addon">
                            <i class="las la-search"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="{{ 'pagination.search'|trans }}" name="q" value="{{ search_query|e }}">
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-vcenter card-table table-responsive table-striped table-checkbox">
            <thead>
                <tr>
                    <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox"></th>
                    <th>{{ knp_pagination_sortable(pagination, 'admin_user.name'|trans, 'u.firstName') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'admin_user.email_address'|trans, 'u.emailAddress') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'admin_user.last_active_at'|trans, 'u.lastActiveAt') }}</th>
                    <th class="w-1">{{ knp_pagination_sortable(pagination, 'admin_user.is_enabled'|trans, 'u.isEnabled') }}</th>
                </tr>
                <tr class="checkbox-action-row">
                    <td colspan="5">
                        <span class="count">0</span> {{ 'table.checkbox.selected'|trans }}
                        <span class="dropdown">
                            <button class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown">{{ 'table.checkbox.actions'|trans }}</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" data-base-href="{{ path('admin_admin_user_bulk_enable') }}" data-action="enable">
                                    <span class="nav-link-icon mr-1 text-success"><i class="las la-check"></i></span>
                                    <span class="label">{{ 'admin_user.enable'|trans }}</span>
                                </a>
                                <a class="dropdown-item" data-base-href="{{ path('admin_admin_user_bulk_disable') }}" data-action="disable">
                                    <span class="nav-link-icon mr-1 text-danger"><i class="las la-times"></i></span>
                                    <span class="label">{{ 'admin_user.disable'|trans }}</span>
                                </a>
                            </div>
                        </span>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for user in pagination %}
                    <tr{% if is_granted(constant('App\\Admin\\Security\\Voter\\AdminUserVoter::EDIT'), user) %} class="table-row-link"
                        data-href="{{ path('admin_admin_user_edit', { emailAddress: user.emailAddress }) }}"
                    {% endif %}>
                        <td class="no-click">
                            {%- if is_granted(constant('App\\Admin\\Security\\Voter\\AdminUserVoter::UPDATE_STATUS'), user) -%}
                                <input class="form-check-input m-0 align-middle" type="checkbox" data-value="{{ user.emailAddress }}"
                                   data-action-enable="{{ user.isEnabled ? 'false' : 'true' }}"
                                   data-action-disable="{{ user.isEnabled ? 'true' : 'false' }}"
                                >
                            {%- endif -%}
                        </td>
                        <td class="text-nowrap">
                            <div class="d-flex lh-sm py-1 align-items-center">
                                <span class="avatar mr-2">
                                    <span class="badge {% if user.isActive %}bg-green{% else %}bg-gray-dark-lt{% endif %}"></span>
                                    {{- user.firstName|first -}}{{- user.lastName|first -}}
                                </span>
                                <div class="flex-fill">
                                    <div class="strong">{{ user.fullName }}</div>
                                    <div class="text-muted text-h5">{{ ('admin_user.role.'~user.mainRole)|trans }}</div>
                                </div>
                            </div>
                        </td>
                        <td class="text-nowrap"><a href="mailto:{{ user.emailAddress }}">{{ user.emailAddress }}</a></td>
                        <td class="text-nowrap">{% if user.lastActiveAt %}{{ user.lastActiveAt|format_datetime('medium', 'short') }}{% endif %}</td>
                        <td class="text-nowrap text-center"><i class="las la-{% if user.isEnabled %}check text-success{% else %}times text-danger{% endif %}"></i></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-muted text-center">{{ 'pagination.no_results'|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if pagination|length > 0 %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>
{% endblock content %}
